[submodule "lib/blt-with-graphics"]
	path = lib/blt-with-graphics
	url = https://git.tpgc.me/tri11paragon/BLT-With-Graphics-Template
[submodule "tools/skyscraper_parser"]
	path = tools/skyscraper_parser
	url = https://github.com/Tri11Paragon/skyscraper_parser
